@using Photocom.Models.Entities.Database
@model Photocom.Presentation.ViewModels.UserViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

@section Scripts {

}

@section Styles {
    @Styles.Render("~/Styles/user_view.css")
    @Styles.Render("~/Styles/photo.css")
}



@if (Model.ShowPrivateControls)
{
    <div id="actions-wrapper">
        <div>
            <button class="green-btn" id="add-photo">Add photo {@Model.ShowPrivateControls}</button>
        </div>
    </div>

    <div id="add-photo-wrapper">
        <form class="green-form" method="post" enctype="multipart/form-data" action="LoadPhoto">
            <input type="hidden" name="login" value="@Model.User.Login"/>
            <input type="text" name="title" placeholder="Title"/>
            <br/>
            <label for="input-photo">Load photo </label>
            <input type="file" id="input-photo" name="file" accept="image/*"/>
            <br/>
            <input type="text" name="description" placeholder="Description"/>
            <br/>
            <textarea placeholder="Hash tags" name="hashTags">#your-tag</textarea>
            <br/>
            <input type="submit" value="Load photo"/>
        </form>
    </div>
}

<div id="user-wrapper">
    <table>
        <tr>
            <td rowspan="2">
                <div id="profile-photo-wrapper">
                    <img id="profile-photo" src="@Model.AvatarPath" alt="User photo"/>
                </div>
            </td>
            <td>
                <div id="user-identity-wrapper">
                    <span id="user-first-name">@Model.User.FirstName</span>
                    <span id="user-last-name">@Model.User.LastName</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="user-about-wrapper">
                    <div>@Model.User.AboutUser</div>
                </div>
            </td>
        </tr>
    </table>

    <div id="user-photos-wrapper">
        <div id="photo-container">
            @foreach (Photo photo in Model.UserPhotos)
            {
                @Html.Partial("~/Views/Partial/Photo.cshtml", photo)
            }
            <!--Photos here...-->
        </div>
    </div>
</div>
