@model Photocom.Presentation.ViewModels.LoggedInUserViewModel

@if (Model.IsLoggedIn == false)
{
    <div class="toolbar-btn" id="user">
        <svg height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
        </svg>
    </div>
}
else
{
    <table>
        <tr>
            <td rowspan="2">
                <div id="user-photo">
                    <img src="@Model.PhotoPath" alt="user-photo" />
                </div>
            </td>
            <td>
                <div id="user-name">
                    @Html.ActionLink(@Model.UserName, "ViewProfile", "User", new { @login = @Model.Login }, new { @class = "dark-link" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="logout-wrapper">
                    @Html.ActionLink("Logout", "Logout", "Auth", new {  }, new { @class = "dark-link" })
                </div>
            </td>
        </tr>


    </table>
}

